.App {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif; /* Přidání moderního fontu */
  background-color: #f4f4f4; /* Světle šedé pozadí pro aplikaci */
}

table {
  width: 100%;
  border-collapse: collapse; /* Sloučení okrajů */
  margin-top: 20px;
}

th, td {
  padding: 10px;
  text-align: left; /* Zarovnání textu vlevo */
  border-bottom: 1px solid #ddd; /* Jemný oddělovací okraj */
}

th {
  background-color: #4CAF50; /* Zelené pozadí pro hlavičky */
  color: white; /* Bílý text pro hlavičky */
}

tr:hover {
  background-color: #f1f1f1; /* Pozadí pro řádek při najetí myši */
}

img {
  border-radius: 5px; /* Zaoblení rohů obrázků */
  transition: transform 0.2s; /* Přechod pro zvětšení obrázků */
}

img:hover {
  transform: scale(1.1); /* Zvětšení obrázku při najetí myši */
}
